*.idea
Uhlrich2022OpenCap/__pycache__/
Hamner2013Running/__pycache__/
Arnold2013Walking/__pycache__/

Hamner2013Running/Raw/**/cmc*
Hamner2013Running/Raw/**/IAA*
Hamner2013Running/Raw/**/ik
Hamner2013Running/Raw/**/scale

Uhlrich2022OpenCap/Raw/**/EMGData
Uhlrich2022OpenCap/Raw/**/MarkerData/Video
Uhlrich2022OpenCap/Raw/**/OpenSimData/Video
Uhlrich2022OpenCap/Raw/**/OpenSimData/Mocap/JR
Uhlrich2022OpenCap/Raw/**/OpenSimData/Mocap/SO
Uhlrich2022OpenCap/Raw/**/OpenSimData/Mocap/Model